body {
  font-family: "Poppins", sans-serif;
}

.banner {
  background-image: url("../img/back-banner-desktop.png");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px;
}
.banner__titulo--color {
  color: #fff;
}
.banner__logo {
  margin-bottom: 10px;
}

.titulo, .titulo__texto {
  margin: 50px 0px 15px 0px;
}
.titulo__parrafo {
  color: #3f3f3f;
  font-size: 16px;
}

.titulo__texto {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #F47E20;
  padding: 10px 0px 10px 0px;
}

.cards {
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s;
}
.cards__lista {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #e7e7e7;
  padding: 2% !important;
}
.cards__lista__item {
  display: grid;
  grid-template-columns: 1fr 15fr;
  gap: 10px;
  margin-top: 10px;
}
.cards__lista__item__texto {
  color: #3f3f3f;
  font-size: 16px;
}

.cards:hover {
  transform: scale(1.03);
}

.cardPersona {
  margin: 50px 0px 50px 0px;
}
.cardPersona__lista {
  padding: 40px;
  border: 3px;
  border-color: #27A093;
  color: #3f3f3f;
  background-color: #f7f7f7;
  font-size: 16px;
}

/* USAMOS UN MAP PARA DARLE COLORES A LAS CABECESRAS Y LOS PIES DE LOS PLANES */
.headPlan--inicial {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #27A093, #74F1BF);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.headPlan--intermedio {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #ac9201, #dac401);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.headPlan--avanzado {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #000000, #4e4e4e);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.footPlan--inicial {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #27A093, #74F1BF);
  border-radius: 0px 0px 10px 10px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin-bottom: 70px;
}

.footPlan--intermedio {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #ac9201, #dac401);
  border-radius: 0px 0px 10px 10px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin-bottom: 70px;
}

.footPlan--avanzado {
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(to left, #000000, #4e4e4e);
  border-radius: 0px 0px 10px 10px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin-bottom: 70px;
}

/* fin map */
/* usamos un each para cambiar los iconos de la lista */
.check-icon,
.cruz-icon {
  height: 22px;
  width: 22px;
}

.check-icon {
  background-image: url("../img/check.png");
  background-size: cover;
  background-position: center;
}

.cruz-icon {
  background-image: url("../img/cruz.png");
  background-size: cover;
  background-position: center;
}

/* fin de each */
/* USAMOS UN MIXIN PARA CAMBIAR LOS COLORES DE FONDO DE LOS SECTORES */
.sector-clientes {
  background-color: #27A093;
  padding: 20px;
  font-size: 22px;
  color: #fff;
}
.sector-clientes__titulo {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.footer {
  background-color: #777777;
  padding: 50px 0px 0px 0px;
  font-size: 22px;
  color: #fff;
}
.footer__img {
  margin: 10px;
}

.footer2 {
  background-color: #565656;
  padding: 20px 0px 20px 0px;
  font-size: 18px;
  color: #fff;
}
.footer2__img {
  margin-left: 10px;
}

/* FIN DEL MIXIN */
.contactForm {
  background-color: #f7f7f7;
  padding: 30px 0px 30px 20px;
  font-size: 17px;
  color: rgb(56, 56, 56);
  border-radius: 15px;
}

.contactForm hr {
  margin: 20px 0px 20px 0px;
}

.contactForm button {
  margin: 20px 0px 0px 0px;
  width: 40%;
  background-color: #F47E20;
  border: 0px;
}

.contactForm button:hover {
  margin: 20px 0px 0px 0px;
  width: 40%;
  background-color: #27A093;
  border: 0px;
}

.contactForm h2 {
  color: #F47E20;
}

/*# sourceMappingURL=style.css.map */
