
// tipografias 
$tipografia: 'Poppins', sans-serif;
$tamanoTextoTitulo: 36px;
$tamanoTextoParrafo: 18px;
$tamanoTextoBotones: 22px;

@media only screen and (min-width : 320px) and (max-width : 480px) {
    $tamanoTextoTitulo: 30px;
    $tamanoTextoParrafo: 16px;
    $tamanoTextoBotones: 20px;
}


// margenes
$margenTitulo: 50px 0px 15px 0px;
$paddingTitulo: 10px 0px 10px 0px;

// colores 
$colorNaranja: #F47E20;
$colorTextoTitulos: rgb(255, 255, 255);
$colorVerde: #27A093;
$colorGradient: linear-gradient(to left, #27A093, #74F1BF);
$colorParrafo: #3f3f3f;
$colorFooter1: #777777;
$colorFooter2: #565656;

body {
    font-family: $tipografia;
}

.redes {
    padding: 5px;
}

.banner {
    background-image: url("../img/back-banner-desktop.png");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: start;
	align-items: center;
    padding: 30px;

    &__titulo--color {
        color: #fff;
    }

    &__logo {
        margin-bottom: 10px;
    }

    &__contacto {
        min-height:100vh;
      }
}

.sectionGray {
  background-color: #e4e4e4;  
  margin-top: 80px;
  padding-bottom: 70px;
}

.titulo {
    margin: $margenTitulo;

    &__parrafo {
        color: $colorParrafo;
        font-size: $tamanoTextoParrafo;
        padding-bottom: 10px;
    }
}

.titulo__texto {
    @extend .titulo;
    font-size: $tamanoTextoTitulo;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: $paddingTitulo;
    color: $colorNaranja;
}

.iconos {
    margin: 0px 5px 20px 5px;
}

.cards {
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;

    &__lista {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: #e7e7e7;
        padding: 2% !important;

        &__item {
            display: grid;
            grid-template-columns: 1fr 15fr;
            gap: 10px;
            margin: 5px;

            &__texto {
                color: $colorParrafo;
                font-size: $tamanoTextoParrafo;
            }
        }
    }
}

.cards:hover {
	transform: scale(1.03);
}

.cardPersona {
    margin: 50px 0px 50px 0px;

    &__lista {
        padding: 40px;
        border: 3px;
        border-color: $colorVerde;
        color: $colorParrafo;
        background-color: #f7f7f7;
        font-size: $tamanoTextoParrafo;
    }
    
    
}


/* USAMOS UN MAP PARA DARLE COLORES A LAS CABECESRAS Y LOS PIES DE LOS PLANES */
$colorCard: (
    /* Declaro las variables para el color de las card  */ 
    inicial: linear-gradient(to left, #27A093, #74F1BF),
    intermedio: linear-gradient(to left, #F47E20, #f4bb20),
    avanzado: linear-gradient(to left, #000000, #4e4e4e)
); 

@each $plan, $color in $colorCard {
    .headPlan--#{$plan} {
        font-size: $tamanoTextoTitulo;
        color: $colorTextoTitulos;
        background-image: $color;
        border-radius: 10px 10px 0px 0px;
        padding: $paddingTitulo;
        text-align: center;
    }
}

@each $plan, $color in $colorCard {
    .footPlan--#{$plan} {
        font-size: $tamanoTextoTitulo;
        color: $colorTextoTitulos;
        background-image: $color;
        border-radius: 0px 0px 10px 10px;
        padding: $paddingTitulo;
        text-align: center;
        margin-bottom: 70px;
    }
}
/* fin map */

/* usamos un each para cambiar los iconos de la lista */
.check-icon,
.cruz-icon {
    height: 22px;
    width: 22px;
}

@each $imageIcon in check, cruz {
    .#{$imageIcon}-icon {
        background-image: url("../img/#{$imageIcon}.png");
        background-size: cover;
        background-position: center;
    }
}
/* fin de each */

/* USAMOS UN MIXIN PARA CAMBIAR LOS COLORES DE FONDO DE LOS SECTORES */
@mixin sectionColor ($colorFondo, $sectionMargen, $tamFuente, $colorTexto){
    background-color: $colorFondo;
    padding: $sectionMargen;
    font-size: $tamFuente;
    color: $colorTexto;
} 

.sector-clientes {
    @include sectionColor ($colorVerde, 20px, 22px, #fff );

    &__titulo {
        font-size: $tamanoTextoTitulo;
        text-align: center;
        margin: 20px;
    }

}

.ombu {
    @include sectionColor (#d1d1d1, 50px 0px 0px 0px, 22px, #fff );  
    padding: 70px 0px 70px 0px;

    & #ombu-logo {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: #97cbe4;
        transition: 1s;
    }
}



.cancat {
    @include sectionColor (#d1d1d1, 50px 0px 0px 0px, 22px, #fff );  
    padding: 70px 0px 70px 0px;

    & #cancat-logo {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: #60bb46;
        transition: 1s;
    }
}


.confecat {
    @include sectionColor (#d1d1d1, 50px 0px 0px 0px, 22px, #fff );  
    padding: 70px 0px 70px 0px;

    & #confecat-logo {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: #000000;
        transition: 1s;
    }
}


.footer {
    @include sectionColor ($colorFooter1, 50px 0px 0px 0px, 22px, #fff );  
   
    &__img {
        margin: 10px;
    }
}

.footer a {
    color: $colorNaranja;

    &:hover {
       color: $colorVerde;
    }
}



.footer2 {
    @include sectionColor ($colorFooter2, 20px 0px 20px 0px, 18px, #fff );
    
    &__img {
        margin-left: 10px;
    }
}
/* FIN DEL MIXIN */ 


.contactForm {
    @include sectionColor (#f7f7f7, 30px 0px 30px 20px, 17px, rgb(56, 56, 56) );
    border-radius: 15px;
    
}

.contactForm hr {
    margin: 15px 0px 15px 0px;
}

.contactForm button {
    margin: 20px 0px 0px 0px;
    width: 40%;
    background-color: $colorNaranja;
    border: 0px;
}

.contactForm button:hover {
    margin: 20px 0px 0px 0px;
    width: 40%;
    background-color: $colorVerde;
    border: 0px;
}

.contactForm h2 {
    color: $colorNaranja;
}

.contactForm form {
    padding: 15px 10px 15px 10px;
}

.contactForm form textarea {
    min-height: 80px;
}

.botonNaranja {
    background-color: $colorNaranja;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $tamanoTextoBotones;
    border-radius: 10px;
    margin-bottom: 40px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     }
    
}

.botonVerde {
    background-color: $colorVerde;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $tamanoTextoBotones;
    border-radius: 10px;
    margin-bottom: 90px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     }
    
}